.tag-button {
    color: gray;
    border-radius: 25px;
    padding: 8px 12px;
    font-size: 15px;
    margin: 0 8px 8px;
    font-weight: 500;
    font-family: 'Orbitron';
    background-color: #131020;
    border: 1px solid #585b69;
    outline: none;
    cursor: pointer;
    transition: 0.2s all;
}

.tag-button:focus,
.tag-button:focus-visible {
    outline: none;
}

.tag-button:hover {
    background-color: #363642;
    border-color: #72ff72;
    color: #72ff72;
}

.tag-button-active {
    color: #72ff72;
    border-color: #4bbd4b;
}

.tag-button-disabled {
    border-color: #222 !important;
    color: #222 !important;
    &:hover {
        color: #222 !important;
        border-color: #222 !important;
        background-color: #131020  !important;
        cursor: default;
    }
}
