.collections-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.collections-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0;

  h1 {
    margin: 0;
  }
}

/* Styl dla kontenera sekcji tagów */
.tag-sections-container {
  margin-bottom: 30px;
}
